* {
  margin: 0;
  box-sizing: border-box;
}

#visual {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.visual__renderer {
  position: absolute;
  inset: 0;
}

#visual__webgl-renderer__canvas {
  height: 100%;
  width: 100%;
}
