.about-inner{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.about-title{
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 3;
    color: var(--gray-text-color);
    font-weight: bold;
    font-size: 10em;
    transform: rotate(-90deg);
}

.about-para-1{
    margin-right: 18rem;
    margin-bottom: 1rem;
    font-size: 3em;
    color: white;
    align-self: flex-end;
}

.about-para-2{
    margin-top: 1rem;
    margin-right: 22rem;
    font-size: 2.5em;
    font-weight: lighter;
    color: var(--gray-text-color);
    align-self: flex-start;
}