.home-inner{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-background-text{
    position: absolute;
    font-size: 30em;
    font-weight: bold;
    color: var(--bg-text-color);
}

.home-welcome-text{
    align-self: flex-start;
    position: absolute;

    margin-left: 10%;

    font-weight: 600;
    color: white;
    font-size: 6em;
}