:root{
    --main-bg-color: #151516;
    --bg-text-color: #1e1e208c;
    --gray-text-color: #B9B9B9;
    --light-gray-text-color: #212124;
}

* {
    font-family: 'Sora', sans-serif;
}

body{
    margin: 0;
    background-color: var(--main-bg-color);
}

.scroll-outer::-webkit-scrollbar {
    width: 6px;
}
  
.scroll-outer::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-outer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.scroll-outer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.scroll-outer{
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-cover{
    height: 100vh;
    scroll-snap-align: start;
}

.pages-outer{
    position: absolute;
}

.pages-inner{
    position: relative;
    height: 100vh;
}

.page-outer{
    position: absolute;
}

.page-inner{
    height: 100vh;
    width: 100vw;
}

/* Common Styles */

.project-title-outer{
    display: flex;
    justify-content: center;
}

.project-title-text{
    display: block;
    color: var(--light-gray-text-color);
    font-weight: bold;
    font-size: 10em;
    transform: rotate(-90deg) translate(150%);
}