.portfolio-inner{
    display: grid;
    grid-template-columns: 20rem 12rem 8fr;
    grid-template-rows: 1fr;
    align-items: center;
    overflow: hidden;
}

.portfolio-timeline-outer{
    align-self: flex-end;
    height: 100vh;

    display: grid;
    justify-items: center;
    justify-content: center;

    grid-template-rows: calc(25vh - 6rem) 6rem;
    transform: translate(0px, 100vh);
}

.portfolio-timeline-circle-outer{
    width: 6rem;
    aspect-ratio: 1;
    
    display: grid;

    border-radius: 3rem;

    background-image: conic-gradient(var(--gray-text-color) 100%, transparent 100%);
}

.portfolio-timeline-circle-inner{
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--main-bg-color);
}

.portfolio-timeline-circle-inner > span{
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.portfolio-timeline-line{
    height: 100%;
    width: 4px;

    background-image: linear-gradient(var(--gray-text-color) 100%, transparent 100%);
}

.portfolio-info-outer{
    height: calc(75vh + 5.5rem);
    align-self: flex-end;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.portfolio-info-title{
    color: white;
    font-size: 4em;
    font-weight: 900;

    transform: translate(200%);
}

.portfolio-info-description{
    color: var(--gray-text-color);
    font-size: 2em;
    
    transform: translate(200%);
}


.portfolio-stack-outer{
    transform: translate(200%);
}

.portfolio-stack-title{
    color: white;
    font-size: 3em;
    font-weight: 600;
}

.portfolio-stack-description{
    color: white;
    font-size: 2em;
}