.strudygo-inner{
    display: grid;
    grid-template-columns: 20rem 12rem 8fr;
    grid-template-rows: 1fr;
    align-items: center;
    overflow: hidden;
}

.strudygo-timeline-outer{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strudygo-timeline-circle-outer{
    width: 6rem;
    aspect-ratio: 1;
    
    display: grid;

    border-radius: 3rem;
    opacity: 0;
}

.strudygo-timeline-circle-inner{
    margin: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--main-bg-color);
}

.strudygo-timeline-circle-inner > span{
    color: white;
    font-size: 2em;
    font-weight: 700;
}

.strudygo-timeline-line{
    width: 4px;
    height: 75vh;
    opacity: 0;
}

.strudygo-info-outer{
    height: calc(75vh + 5.5rem);
    align-self: flex-end;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.strudygo-info-title{
    color: white;
    font-size: 4em;
    font-weight: 900;
    transform: translate(200%);
}

.strudygo-info-description{
    color: var(--gray-text-color);
    font-size: 2em;
    transform: translate(200%);
}

.strudygo-stack-outer{
    transform: translate(200%);
}

.strudygo-stack-title{
    color: white;
    font-size: 3em;
    font-weight: 600;
}

.strudygo-stack-description{
    color: white;
    font-size: 2em;
}