body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
}

.visual {
    height: 100%;
    width: 100%;

    .renderer {
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;

        * {
            position: absolute;
            inset: 0;
        }
    }
}
