*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --var-color-white__light: #fafcff;
    --var-color-white__dark: #f4f5f6;
    --var-color-black__light: #202327;
    --var-color-black__dark: #1c1e21;
    --var-color-gray__light: #cfced5;
    --var-color-gray__dark: #a3abc0;
    --var-color-yellow__light: #fcf6a8;
    --var-color-yellow__dark: #f2f84f;
    --var-color-orange__light: #fdd295;
    --var-color-orange__dark: #f8a64f;
    --var-color-red__light: #f5aaaf;
    --var-color-red__dark: #f4767f;
    --var-color-purple__light: #d1acce;
    --var-color-purple__dark: #d085ac;
    --var-color-blue__light: #8fabc9;
    --var-color-blue__dark: #6d81be;
    --var-color-sky__light: #afe2f5;
    --var-color-sky__dark: #81cab7;
    --var-color-green__light: #b8db98;
    --var-color-green__dark: #91bb93;

    --theme-color-gray__light: var(--var-color-gray__light);
    --theme-color-gray__dark: var(--var-color-gray__dark);
    --theme-color-yellow__light: var(--var-color-yellow__light);
    --theme-color-yellow__dark: var(--var-color-yellow__dark);
    --theme-color-orange__light: var(--var-color-orange__light);
    --theme-color-orange__dark: var(--var-color-orange__dark);
    --theme-color-red__light: var(--var-color-red__light);
    --theme-color-red__dark: var(--var-color-red__dark);
    --theme-color-purple__light: var(--var-color-purple__light);
    --theme-color-purple__dark: var(--var-color-purple__dark);
    --theme-color-blue__light: var(--var-color-blue__light);
    --theme-color-blue__dark: var(--var-color-blue__dark);
    --theme-color-sky__light: var(--var-color-sky__light);
    --theme-color-sky__dark: var(--var-color-sky__dark);
    --theme-color-green__light: var(--var-color-green__light);
    --theme-color-green__dark: var(--var-color-green__dark);
    --theme-color-background__light: var(--var-color-white__light);
    --theme-color-background__dark: var(--var-color-white__dark);
    --theme-color-text__light: var(--var-color-black__light);
    --theme-color-text__dark: var(--var-color-black__dark);

    @media (prefers-color-scheme: dark) {
        --theme-color-text__light: var(--var-color-white__light);
        --theme-color-text__dark: var(--var-color-white__dark);
        --theme-color-background__light: var(--var-color-black__light);
        --theme-color-background__dark: var(--var-color-black__dark);
    }
}

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sora/v16/xMQbuFFYT72XzQUpDg.woff2)
        format('woff2');
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

.transition-disabled * {
    transition: none !important;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: Sora;
}

body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--theme-color-background__dark);
}

.visual__webgl-renderer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
}

.visual__css3d-renderer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
}

.overlay__guide {
    position: absolute;
    top: 0;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.overlay__guide__branch-switch {
    color: var(--theme-color-text__dark);
    text-underline-offset: 0.4em;
    opacity: 1;
    transition: opacity 1s;
}

.overlay__guide__branch-switch--hidden {
    opacity: 0;
}

.loading-screen {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--theme-color-background__dark);

    > * {
        @keyframes loading-screen__fade-in {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        & {
            opacity: 0;
            animation: loading-screen__fade-in 1s forwards;
            animation-delay: 1s;
        }
    }
}

.loading-screen--hidden {
    @keyframes loading-screen--hidden__disappear {
        99% {
            opacity: 0;
        }
        to {
            opacity: 0;
            display: none;
        }
    }

    & {
        animation: loading-screen--hidden__disappear 0.5s forwards;
    }
}

.loading-screen__text {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--theme-color-text__light);
}

.loading-screen__visual {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.loading-screen__visual__box {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;

    @for $i from 1 through 6 {
        @keyframes loading-screen__visual__box__#{$i} {
            10% {
                margin-right: 2rem;
                transform: rotate(180deg);
            }
            20%,
            #{10 - $i}0% {
                margin-right: 0;
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(180deg);
            }
        }

        &:nth-child(#{$i}) {
            animation-name: loading-screen__visual__box__#{$i};
            animation-duration: 5s;
            animation-delay: #{$i * 0.5}s;
            animation-iteration-count: infinite;
        }
    }
}

.loading-screen__visual__box--stroked {
    outline: 0.16rem solid var(--theme-color-text__dark);
    outline-offset: -0.16rem;
}

.loading-screen__visual__box--filled {
    background-color: var(--theme-color-text__dark);
}

.skill__outer {
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end;
}

.skill {
    padding-left: 16rem;
    width: 100dvw;
}

.skill__name {
    color: var(--theme-color-text__light);
    font-size: 6em;
}
